@import 'https://fonts.googleapis.com/css?family=Karla';

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: Karla;
}

h1 {
  font-weight: normal;
  font-size: 2.75em;
  line-height: .5em;
  color: #fff;
  letter-spacing: .8px;
}

p#subhead {
  color: #fff;
  font-size: .7em;
  line-height: 1.5em;
  letter-spacing: .85px;
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

#textbox {
  position: absolute;
  top: 33.3%;
  left: 4%;
  z-index: 1;
  width: 40%;
}

.bottom_nav {
  width: 100%;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  text-align: center;
  border: solid 1px;
  border-color: red;
}

#menu {
  padding: 15px 15px;
  float: right;
}

#image_burn {
  background: rgba(0,0,0,0.5);
  z-index: 2;
}

#gradient {
  display:inline-block;
  background: -webkit-linear-gradient(bottom, rgba(24,118,188,1) 40%, rgba(125,185,232,0) 100%);
  background: -moz-linear-gradient(bottom, rgba(24,118,188,1) 40%, rgba(125,185,232,0) 100%);
  background: -o-linear-gradient(bottom, rgba(24,118,188,1) 40%, rgba(125,185,232,0) 100%);
  background: -ms-linear-gradient(bottom, rgba(24,118,188,1) 40%, rgba(125,185,232,0) 100%);
  background: linear-gradient(to top, rgba(24,118,188,1) 40%, rgba(125,185,232,0) 100%);
  z-index: 1;
  height: auto;
}

.col-lg-12{
  width: 100%;
  height: 100%;
  background:url('../images/image1.jpg') center center no-repeat;
}

#main_image{
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  z-index: -1;
}

#headline_box{
  z-index: 1;
}

/*#gradient {
  display:inline-block;

  position:relative;
  z-index:-1;
  display:block;
  height:auto; width:100%;
}*/