@import 'https://fonts.googleapis.com/css?family=Karla';

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: Karla;
}

#gradient {
  display:inline-block;
/*  background-image: -webkit-linear-gradient(bottom, rgba(24,118,188,1) 40%, rgba(125,185,232,0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(24,118,188,1) 40%, rgba(125,185,232,0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(24,118,188,1) 40%, rgba(125,185,232,0) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(24,118,188,1) 40%, rgba(125,185,232,0) 100%);*/
  background-image: linear-gradient(to top, #11598e 50%, #fff);
  position: absolute; width: 100%; height: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
  opacity: 1;
}

h1 {
  font-weight: normal;
  font-size: 2.75em;
  line-height: .5em;
  color: #fff;
  letter-spacing: .8px;
}

h2 {
  font-size: 2.2em;
  color: #384f66;
}

.logotype{
  font-size: 2.2em;
  color: #384f66;
}

p#subhead {
  color: #fff;
  font-size: .7em;
  line-height: 1.5em;
  letter-spacing: .85px;
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

#textbox {
  position: absolute;
  top: 33.3%;
  left: 4%;
  z-index: 2;
  width: 40%;
}

.bottom_nav {
  width: 100%;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 4px #BBBBBB;
}

.top_nav {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 4px #BBBBBB;
}

#menu {
  padding: 15px 15px;
  float: right;
}

#second_header {
  position: static;
  top: 500px;
}

/*for diagonal lines:*/

.line_box_background {
  width:  320px;
  height:320px;
  position:relative;
}

.line_box_background:after{
  content:"";
  position:absolute;
  border-top: 1.5px solid #384f66;
  width:320px;
  transform: rotate(68deg);
  transform-origin: 0% 0%;
}

#line1 {
  position: absolute;
  right: -22%;
  top: 26.50%;
  z-index: 2;
}

#line2 {
  position: absolute;
  left: 2%;
  top: 53%;
  z-index: 2;
}

/*footer*/

footer {
  text-align: center;
  margin-top: 160px;
}

#footer_title {
  font-weight: bold;
  font-size: 1.25em;
} 

footer.li footer.lh {
  display:inline;
}
